
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# VSCode
.vscode/
.code-workspace

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# DVC
.dvc/tmp/
.dvc/cache/
*.dvc
data/

# MLflow
mlruns/

# Logs, artifacts
*.log
logs/
outputs/
